{% extends 'base.html.twig' %}
{% block title %}Editer Groupe{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Editer</button>

    {{ form_end(form) }}




    <a href= "{{path('groupe_list')  }}">Retour</a>

{% endblock %}
