{% extends 'base.html.twig' %}
{% block title %}Ajouter Article{% endblock %}
{% block body %}
    {{ form_start(f) }}
    {{ form_widget(f) }}
    <button type="submit" class="btn btn-success">Ajouter</button>

    {{ form_end(f) }}
{% endblock %}
